.form {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.form-group {
	display: flex;
	align-items: center;

	@media screen and (max-width: 600px) {
		flex-direction: column;
	}
}

.input-text {
	width: 100%;
	height: 40px;
	border: 0.1rem solid #dedede;
	padding: 0 15px;
	font-size: 1rem;
	transition: all 0.2s ease-in;

	&:focus {
		outline: none;
		border: 0.1rem solid #639fff;
	}

	&::placeholder {
		color: #a1a1a1;
	}
}

.btn-block {
	width: 200px;
	height: 40px;
	border: none;
	font-size: 1rem;
	font-weight: 500;

	@media screen and (max-width: 600px) {
		width: 100%;
	}
}

.btn-submit {
	transition: all 0.2s ease-in;
	background: #639fff;
	color: #fff;

	&:hover {
		background: #307fff;
	}
}

.btn-cancel {
	transition: all 0.2s ease-in;
	background: #c4c4c4;
	color: #fff;

	&:hover {
		background: #a1a1a1;
	}
}

.btn-icon {
	height: 30px;
	width: 30px;
	border: none;
	font-size: 1rem;
	font-weight: 500;
	border-radius: 50%;
}

.btn-edit {
	background: #639fff;
	color: #fff;
	transition: all 0.2s ease-in;

	&:hover {
		background: #307fff;
	}
}

.btn-delete {
	background: #ff4d4d;
	color: #fff;
	transition: all 0.2s ease-in;

	&:hover {
		background: #ff2626;
	}
}
